/* WELCOME PAGE STYLING */
.welcome-body{
    background-color: antiquewhite;
    height: 100%;
    padding-top: 110px;
}

/* LOGO TEXT STYLING */
.logo-text{
    text-align: center;
    font-family: Consolas,monaco,monospace;
    font-size: 48px;
}

/* LOGO STYLING */
.logo{
    display: block;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

/* WELCOME PAGE BUTTONS POSITION */
.button-container{
    justify-content: center;
    align-items: center;
    display: flex;
}

/* WELCOME PAGE BUTTONS STYLING */
.button-styling{
    box-shadow: 2px 3px 0px -1px #899599;
    background: #f6fae1 linear-gradient(to bottom, #f6fae1 5%, #e0e0c3 100%);
    border-radius:5px;
    border:1px solid #999983;
    display:inline-block;
    cursor:pointer;
    color:#307485;
    font-family: Consolas,monaco,monospace;
    font-size:17px;
    font-weight:bold;
    padding:15px 28px;
    text-decoration:none;
    margin-right: 20px;
}

/* ADD HOVER TO BUTTONS */
.button-styling:hover{
    background: #f6fae1 linear-gradient(to bottom, #e0e0c3, #f6fae1 100%);
}

/* BUTTON TEXT STYLING */
.button-text{
    text-decoration: none;
    color: dimgray;
}

/* NAVIGATION BAR */
.navbar a {
    position: absolute;
    left: -80px;
    transition: 0.2s;
    padding: 15px;
    width: 90px;
    text-decoration: none;
    font-size: 20px;
    font-style: italic;
    color: white;
    border-radius: 0 5px 5px 0;
    font-weight: bold;
    font-family: Consolas,monaco,monospace;
}

/* NAVIGATION BAR HOVER POSITION */
.navbar a:hover {
    left: 0;
}

/* NAVBAR HOME BUTTON STYLING */
.home {
    top: 15px;
    background-color: #f62651;
}

/* NAVBAR NEW NOTE BUTTON STYLING */
.new-note {
    top: 75px;
    background-color: #de4d72;
}

/* NAVBAR VIEW NOTE BUTTON STYLING */
.view-note {
    top: 135px;
    background-color: #db7ca3;
}

/* HOMEPAGE BACKGROUND COLOUR */
.main-body{
    background-color: antiquewhite;
}

/* HOMEPAGE TEXT POSITION */
.main-container{
    text-align: center;
}

/* TITLE STYLING */
.title{
    padding: 20px;
    background: linear-gradient(to bottom, #caeff3, #faebd7);
}

/* HOMEPAGE TITLE TEXT STYLING */
.homepage-title{
    font-family: Consolas,monaco,monospace;
    font-size: 35px;
    color: darkslategrey;
    text-align: center;
}

/* FILENAME INPUT CONTAINER */
.filename-container{
    padding-top: 50px;
}

/* FILENAME INPUT DIVISION */
.filename-div{
    padding-left: 150px;
}

/* FILENAME BUTTON CONTAINER */
.filename-btn-container{
    padding-left: 100px;
}

/* FILENAME INPUT STYLING */
.file-input{
    padding-left: 11%;
    font-family: Consolas,monaco,monospace;
    font-weight: bold;
    font-size: 25px;
    float: left;
    display: inline-block;
    padding-top: 20px;
}

/* FILENAME STYLING */
#filename{
    padding: 20px;
    font-size: 20px;
    font-family: Consolas,monaco,monospace;
}

/* IMAGE PENCIL STYLING */
.img-pen{
    padding-right: 150px;
}

/* FORM STYLING */
.form{
    box-sizing: border-box;
    margin: 10px;
}

/* IMAGE PENCIL SIZE */
#pencil{
    height: 150px;
    width: 150px;
}

/* Style filename input */
.file-div{
    width: 100%;
    overflow: auto;
    display: block;
}

/* POSITIONING IMAGE */
.img-note{
    float: right;
    display: inline-block;
    padding-right: 15%;
}

/* BUTTONS POSITIONING */
.submit-container{
    padding-top: 50px;
}

/* BUTTON STYLING */
.submit-btn{
    background: whitesmoke linear-gradient(to bottom, whitesmoke 5%, lightsteelblue 100%);
    border-radius:15px;
    border:1px solid #4b4e50;
    display:inline-block;
    cursor:pointer;
    color:#1c1c1c;
    font-family: Consolas,monaco,monospace;
    font-size:15px;
    padding:5px 25px;
    text-decoration:none;
    text-shadow:0px -1px 0px #8e95ad;
}

/* ADD HOVER TO THE BUTTON */
.submit-btn:hover {
    background: whitesmoke linear-gradient(to bottom, lightsteelblue 5%, whitesmoke 100%);
}

/* LISTING FILES STYLING */
.file-button{
    text-decoration: none;
    font-size: 15px;
    font-weight: normal;

}

/* style textarea */
textarea{
    height: 500px;
    width: 75%;
    padding: 15px;
    border: 5px solid lightslategray;
    border-radius: 10px;
    resize: none;
    background: white;
}

/* VIEW PAGE TITLE */
.viewpage-title{
    font-family: Consolas,monaco,monospace;
    font-size: 35px;
    color: darkslategrey;
    text-align: center;
}

/* LIST FILES CONTAINER */
.list-container{
    padding-top: 30px;
    padding-left: 5%;
    font-family: Consolas,monaco,monospace;
    font-size: 20px;
    font-weight: bold;
    color: darkslateblue;
    display: inline-block;
    float: left;
    height: 500px;
}

/* READ FILES CONTAINER */
.read-container{
    font-family: Consolas,monaco,monospace;
    font-size: 20px;
    padding-left: 10%;
    font-weight: bold;
    padding-top: 30px;
    color: darkslateblue;
    display: inline-block;
    float: left;
    width: 45%;
}

/* LIST FILE BORDER STYLING */
.list-elements{
    border: 3px solid #A59D9D;
    border-radius: 14px;
    padding: 30px;
}

/* READ FILE BORDER STYLING */
.read-elements{
    border: 3px solid #A59D9D;
    border-radius: 14px;
    padding: 30px;
    height: 500px;
    width: 100%;
}

/* TRASH BIN ICON POSITIONING */
.trash-icon {
    float: right;
}

/* DELETE TEXT STYLING */
.delete-txt{
    text-align: center;
    color: red;
    padding-right: 200px;
    font-size: 20px;
    font-family: Consolas,monaco,monospace;
    font-weight: bold;
}