#navbar a {
    position: absolute;
    left: -80px;
    transition: 0.2s;
    padding: 15px;
    width: 90px;
    text-decoration: none;
    font-size: 20px;
    font-style: italic;
    color: black;
    border-radius: 0 5px 5px 0;
    font-weight: bold;
    font-family: Consolas,monaco,monospace;
}

#navbar a:hover {
    left: 0;
}

#home {
    top: 15px;
    background-color: #f62651;
}

#new-note {
    top: 75px;
    background-color: #de4d72;
}

#view-note {
    top: 135px;
    background-color: #db7ca3;
}

.main-body{
    background-color: antiquewhite;
}

.title{
    padding: 20px;
    background: linear-gradient(to bottom, #caeff3, #faebd7);
}

.homepage-title{
    font-family: Consolas,monaco,monospace;
    font-size: 35px;
    color: darkslategrey;
    text-align: center;
}

.form{
    box-sizing: border-box;
    margin: 10px;
}

.submit-btn{
    background: #80ffff linear-gradient(to bottom, #80ffff 5%, #c7f6ff 100%);
    border-radius:15px;
    border:1px solid #1298eb;
    display:inline-block;
    cursor:pointer;
    color:#1c1c1c;
    font-family: Consolas,monaco,monospace;
    font-size:15px;
    padding:5px 25px;
    text-decoration:none;
    text-shadow:0px -1px 0px #8e95ad;
}

.submit-btn:hover {
    background: #a4dff5 linear-gradient(to bottom, #a4dff5 5%, #70d4f5 100%);
}

.welcome-body{
    background-color: antiquewhite;
    height: 100%;
    padding-top: 110px;
}

.logo-text{
    text-align: center;
    font-family: Consolas,monaco,monospace;
    font-size: 48px;
}

.logo{
    display: block;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.button-container{
    justify-content: center;
    align-items: center;
    display: flex;
}

.button-styling{
    box-shadow: 2px 3px 0px -1px #899599;
    background: #f6fae1 linear-gradient(to bottom, #f6fae1 5%, #e0e0c3 100%);
    border-radius:5px;
    border:1px solid #999983;
    display:inline-block;
    cursor:pointer;
    color:#307485;
    font-family: Consolas,monaco,monospace;
    font-size:17px;
    font-weight:bold;
    padding:15px 28px;
    text-decoration:none;
    margin-right: 20px;
}

.button-styling:hover{
    background: #f6fae1 linear-gradient(to bottom, #e0e0c3, #f6fae1 100%);
}

.button-text{
    text-decoration: none;
    color: dimgray;
}

/* new codes */
.main-container{
    text-align: center;
}

/* style textarea */
textarea{
    height: 500px;
    width: 75%;
    padding: 15px;
    border: 5px solid lightslategray;
    border-radius: 10px;
    resize: none;
    background: white;
}

/* Style filename input */
.file-div{
    width: 100%;
    overflow: auto;
    display: block;
}

.file-input{
    padding-top: 50px;
    padding-left: 12%;
    font-family: Consolas,monaco,monospace;
    font-weight: bold;
    font-size: 15px;
    float: left;
    display: inline-block;
}
#filename{
    padding: 10px;
    font-family: Consolas,monaco,monospace;
}

.img-note{
    float: right;
    display: inline-block;
    padding-right: 15%;
}

#pencil{
    height: 150px;
    width: 150px;
}

.submit-container{
    padding-top: 50px;
}
